
<ng-container *ngIf="user">
  <div class="card" [routerLink]="['/user-page', user.id]">
    <div>
      <img
        [src]="
          user.image
            ? user.image
            : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpd4mJRIUwqgE8D_Z2znANEbtiz4GhI4M8NQ&s'
        "
        alt="img"
      />
      <div>
        <h2>{{ user.name | titlecase }}</h2>
        <span>&commat;{{ user.username }}</span>
      </div>
    </div>
    <h5>
      {{ user.description }}
    </h5>
    <p>
      <span class="bold">{{user.totalPosts}}</span> posts • <span class="bold">{{user.totalComments}}</span> comments
      • Since {{ user.dateCreation | date }}
    </p>
  </div>
</ng-container>
