<div class="landingContainer">
  <h1>Overview</h1>
  <section class="countersSection">
    <div>
      <div class="countersSection_header">
        <h2>Users</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ users.length }}</span>
        <p>registered on this year</p>
      </div>
    </div>
    <div>
      <div class="countersSection_header">
        <h2>Posts</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ posts.length }}</span>
        <p>posted on this week</p>
      </div>
    </div>
    <div>
      <div class="countersSection_header">
        <h2>Comments</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ comments.length }}</span>
        <p>uploaded on this week</p>
      </div>
    </div>
  </section>

  <section class="cardsSection">
    <div class="cardsSection_topUsers">
      <h2>Top Trending Users</h2>
      <div class="cardsSection_topUsers--list">
        @for (user of usersWhoPostedMore; track user) {
          <app-user-card [user]="user"></app-user-card>
        }
      </div>
    </div>
    <div class="cardsSection_postUserContainer">
      <div class="cardsSection_mostCommentedPost">
        <h2>Most Commented Posts</h2>
        <div>
          @for (post of mostCommentedPost; track post) {
            <app-post-card [post]="post"></app-post-card>
          }

        </div>
      </div>
      <div class="cardsSection_mostActiveUser">
        <h2>Most Active User</h2>
        @for (user of userWhoCommentedMost; track user) {
          <div>
            <app-user-card [user]="user"></app-user-card>
          </div>
        }
      </div>
    </div>
  </section>
</div>
