<div class="landingContainer">
  <h1>Overview</h1>
  <section class="countersSection">
    <div>
      <div class="countersSection_header">
        <h2>Users</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ users.length }}</span>
        <p>registered on this year</p>
      </div>
    </div>
    <div>
      <div class="countersSection_header">
        <h2>Posts</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ posts.length }}</span>
        <p>posted on this week</p>
      </div>
    </div>
    <div>
      <div class="countersSection_header">
        <h2>Comments</h2>
        <i class="bx bx-dots-vertical-rounded"></i>
      </div>
      <div class="countersSection_body">
        <span>{{ comments.length }}</span>
        <p>uploaded on this week</p>
      </div>
    </div>
  </section>

  <section class="cardsSection">
    <div class="cardsSection_topUsers">
      <h2>Top Trending Users</h2>
      <div class="cardsSection_topUsers--list">
        <ng-container *ngFor="let user of usersWhoPostedMore">
          <app-user-card [user]="user"></app-user-card>
        </ng-container>
      </div>
    </div>
    <div class="cardsSection_postUserContainer">
      <div class="cardsSection_mostCommentedPost">
        <h2>Most Commented Posts</h2>
          <div>
            <ng-container *ngFor="let post of mostCommentedPost">

            <app-post-card [post]="post"></app-post-card>
          </ng-container>

          </div>
      </div>
      <div class="cardsSection_mostActiveUser">
        <h2>Most Active User</h2>
        <ng-container *ngFor="let user of userWhoCommentedMost">
          <div>
            <app-user-card [user]="user"></app-user-card>
          </div>
        </ng-container>
      </div>
    </div>
  </section>
</div>
