.userContainer {
  h1 {
    margin: 0;
    font-weight: 600;
  }

  hr {
    margin: 0;
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    opacity: 0.5;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;



    .userContainer__userCommentsBox {
      display: flex;
      justify-content: space-between;
      height: 25rem;

      .userContainer_userInfo {
        display: flex;
        justify-content: center;
        width: 20%;

        .userContainer_userInfo--card {
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          border-radius: 0.5rem;

          padding: 2rem;
          display: flex;
          flex-direction: column;
          img {
            object-fit: cover;
            object-position: center;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
          }
        }
      }
      .userContainer__commentsContainer {
        width: 75%;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 0.8rem;
        padding: 1rem;
        overflow-y: scroll;


        .userContainer__commentsContainer--commentsList{
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    .userContainer_postsInfo {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      > div {
        width: 32%;
      }
    }
  }
}
