/* Classes Styles */

.card {
  background-color: rgb(252, 252, 252);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 2px solid transparent;
  height: 16rem;
  width: 30rem;

  .bold {
    font-weight: 600;
  }

  > div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  img {
    object-fit: cover;
    object-position: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
  }

  h2 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  h5 {
    margin: 0;
  }

  span {
    color: rgb(105, 105, 105);
    margin: 0;
    font-size: 0.9rem;
  }

  p {
    margin: 0;
    font-size: 0.8rem;
    color: rgb(105, 105, 105);
  }
  button {
    border: 1px solid #84848460;
    background-color: white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
  }
}

.card:hover {

  border: 2px solid var(--dark-blue);
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}


/* Media Queries */

@media (width <= 556px) {

  .card{
    height: 16rem;
   width: 20rem;
  }
}
