<div class="sidebar" #sidebar>
  <div class="top">
    <div class="logo"></div>
    <i class="bx bx-menu" id="btn" #btn></i>
  </div>
  <div class="user">
    <img class="user-img" src="../../../assets/images/logo_admin.png" alt="" />
    <div>
      <p class="bold">Clint B.</p>
      <p>Admin</p>
    </div>
  </div>
  <ul>
    <li>
      <a href="">
        <i class="bx bxs-universal-access"></i>
        <span class="nav-item">dashboard</span>
      </a>
      <span class="tooltip">dashboard</span>
    </li>
    <li>
      <a href="">
        <i class="bx bxs-universal-access"></i>
        <span class="nav-item">dashboard</span>
      </a>
      <span class="tooltip">dashboard</span>
    </li>
    <li>
      <a href="">
        <i class="bx bxs-universal-access"></i>
        <span class="nav-item">dashboard</span>
      </a>
      <span class="tooltip">dashboard</span>
    </li>
    <li>
      <a href="">
        <i class="bx bxs-universal-access"></i>
        <span class="nav-item">dashboard</span>
      </a>
      <span class="tooltip">dashboard</span>
    </li>
    <li>
      <a href="">
        <i class="bx bxs-universal-access"></i>
        <span class="nav-item">dashboard</span>
      </a>
      <span class="tooltip">dashboard</span>
    </li>
  </ul>
</div>
<div class="main-content">
  <div class="container">
    <header>
      <app-navbar></app-navbar>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
