<div class="formContainer">
  <h1>Create User</h1>

  <div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <!-- Name -->

      <div>
        <label>Name:</label>
        <input
          type="text"
          formControlName="name"
          placeholder="Introduce a name"
          />
        </div>

        @if (isValidField('name', 'required')) {
          <span class="error"
            >This entry must be filled</span
            >
        }

        <!-- username -->

        <div>
          <label>Username:</label>
          <input
            type="text"
            formControlName="username"
            placeholder="Introduce an username"
            />
          </div>

          @if (isValidField('username', 'required')) {
            <span class="error"
              >This entry must be filled</span
              >
          }

          @if (isValidField('username', 'usernameTaken')) {
            <span class="error"
              >This username already exist</span
              >
            }

            <!-- Description -->

            <div>
              <label>Description:</label>
              <textarea
                formControlName="description"
                placeholder="Introduce a description..."
                >
              </textarea>
            </div>

            @if (isValidField('description', 'required')) {
              <span class="error"
                >This entry must be filled</span
                >
              }

              <!-- Email -->

              <div>
                <label>Email:</label>
                <input
                  type="text"
                  formControlName="email"
                  placeholder="Introduce an email"
                  />
                  @if (isValidField('email', 'pattern')) {
                    <span class="error"
                      >You must enter an Email</span
                      >
                  }
                  @if (isValidField('email', 'required')) {
                    <span class="error"
                      >This entry must be filled</span
                      >
                    }
                    @if (isValidField('email', 'emailTaken')) {
                      <span class="error"
                        >This email already exist</span
                        >
                      }
                    </div>

                    <!-- Password -->

                    <div>
                      <label>Password:</label>
                      <input
                        type="password"
                        autocomplete="on"
                        name="password"
                        formControlName="password"
                        placeholder="Introduce a password"
                        />

                        @if (isValidField('password', 'required')) {
                          <span class="error"
                            >This entry must be filled</span
                            >
                        }

                        @if (isValidField('password', 'minlength')) {
                          <span class="error"
                            >Password must contain at least 6 characters</span
                            >
                          }
                        </div>

                        <!-- Images -->

                        <div>
                          <label>Images:</label>
                          <input
                            type="text"
                            formControlName="image"
                            placeholder="Introduce an image link"
                            />
                          </div>

                          <div class="formContainer__buttonContainer">
                            <button class="buttonSubmit" type="submit">
                              <i class="bx bxs-edit-alt"></i> Create
                            </button>
                            <button
                              [routerLink]="['']"
                              routerLinkActive="router-link-active"
                              class="buttonCancel"
                              type="button"
                              >
                              <i class="bx bx-x"></i> Cancel
                            </button>
                          </div>
                        </form>
                      </div>
                    </div>
