<div class="postContainer">
  <h1>Post Info</h1>
  @if (post) {
    <section>
      <div class="postContainer__card">
        <div class="postContainer__buttonsContainer">
          <button (click)="backToUserPage()" class="buttonBack">
            <i class='bx bx-arrow-back' ></i> Back
          </button>
          <button
            [routerLink]="['edit-post']"
            class="buttonEdit"
            >
            <i class="bx bxs-edit-alt"></i> Edit Post
          </button>
          <button
            (click)="deletePostById()"
            class="buttonDelete"
            >
            <i class='bx bx-x'></i>Delete Post
          </button>
        </div>
        <div class="postContainer__buttonsContainer--postCard">
          <div class="postCard" >
            <div class="postCard__imgContainer">
              <img
                  [src]="
                    post.image
                      ? post.image
                      : 'https://wallpapercave.com/wp/wp4344773.jpg'
                  "
                alt="img"
                />
              </div>
              <div class="postCard__tagsContainer">
                @for (tag of post.tags; track tag) {
                  <span>{{tag}}</span>
                }
              </div>
              <h2>{{post.title}}</h2>
              <p>
                {{post.description}}
              </p>
              <div class="postCard_userInfo">
                <img
              [src]="
                user.image
                  ? user.image
                  : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpd4mJRIUwqgE8D_Z2znANEbtiz4GhI4M8NQ&s'
              "
                  alt="img"
                  />
                  <div>
                    <h4>{{user.name}}</h4>
                    <p>{{post.dateCreation | date}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="postContainer__commentsContainer">
            <div class="postContainer__commentsContainer--commentsList">
              <h2>Comments</h2>
              <hr />
              <div class="postContainer__commentsContainer--commentsList--input">
                <form
                  [formGroup]="myForm"
                  (ngSubmit)="onSubmit()"
                  autocomplete="off"
                  >
                  <textarea
                    formControlName="comment"
                    placeholder="Write about something..."
                    >
                  </textarea>
                  @if (isValidField('comment', 'required')) {
                    <span class="error"
                      >You must write something to post a comment</span
                      >
                  }
                  <div>
                    <button type="submit"><i class='bx bx-plus' ></i> Add Comment</button>
                  </div>
                </form>
              </div>
              @for (comment of commentsByPost; track comment) {
                <div>
                  <app-comment-card
                    [comment]="comment"
                    [comments]="commentsByPost"
                    (emisionComments)="getCommentsArray($event)"
                  ></app-comment-card>
                </div>
              }
            </div>
          </div>
        </section>
      }
    </div>
