<div class="formContainer">
  <h1>Edit User</h1>

  @if (user) {
    <div>
      <form [formGroup]="editForm" (ngSubmit)="onEdit()" autocomplete="off">
        <!-- Name -->
        <div>
          <label>Name</label>
          <input
            type="text"
            formControlName="name"
            placeholder="Introduce a new name"
            />
          </div>
          @if (isValidField('name', 'required')) {
            <span class="error"
              >This entry must be filled</span
              >
          }
          <!-- Description -->
          <div>
            <label>Description</label>
            <textarea
              formControlName="description"
              placeholder="Introduce a new description..."
              >
            </textarea>
          </div>
          @if (isValidField('description', 'required')) {
            <span class="error"
              >This entry must be filled</span
              >
            }
            <!-- Password -->
            <div>
              <label>Password</label>
              <input
                type="password"
                name="password"
                formControlName="password"
                autocomplete="on"
                placeholder="Introduce a new password"
                />
                @if (isValidField('password', 'required')) {
                  <span class="error"
                    >This entry must be filled</span
                    >
                }
                @if (isValidField('password', 'minlength')) {
                  <span class="error"
                    >Password must contain at least 6 characters</span
                    >
                  }
                </div>
                <!-- Images -->
                <div>
                  <label>Images</label>
                  <input
                    type="text"
                    formControlName="image"
                    placeholder="Introduce an image link"
                    />
                  </div>
                  <div class="formContainer__buttonContainer">
                    <button class="buttonSubmit" type="submit">
                      <i class="bx bxs-edit-alt"></i> Edit
                    </button>
                    <button
                      (click)="backToUserPage()"
                      routerLinkActive="router-link-active"
                      class="buttonCancel"
                      type="button"
                      >
                      <i class="bx bx-x"></i> Cancel
                    </button>
                  </div>
                </form>
              </div>
            }
          </div>
