/* Tag Styles */

/* Classes Styles */

.landingContainer {
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0;
    font-weight: 600;
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }

  .countersSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    > div {
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 32%;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 2rem;
      border-radius: 1rem;
      .countersSection_header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
          font-size: 1.5rem;
        }
      }

      .countersSection_body {
        display: flex;
        align-items: center;

        p {
          margin: 0;
          margin-left: 0.5rem;
        }
      }

      h2 {
        font-weight: bold;
        margin: 0;
      }
      span {
        font-weight: bold;
        font-size: 1.2rem;
      }

      p {
        color: var(--soft-gray);
      }
    }
  }

  .cardsSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    .cardsSection_topUsers {
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 2rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 1.5rem;
      }

      .cardsSection_topUsers--list {
        display: flex;
        justify-content: space-between;
      }
    }

    .cardsSection_postUserContainer {
      display: flex;
      justify-content: space-between;

      .cardsSection_mostCommentedPost {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 60%;

        h2 {
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }

        > div {
          display: flex;
          justify-content: space-between;
        }
      }

      .cardsSection_mostActiveUser {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        width: 38%;
        height: 50%;

        h2 {
          font-weight: bold;
          margin-top: 0;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
