<div class="formContainer">
  <h1>Create Post</h1>


  <div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <!-- title -->

      <div>
        <label>Title:</label>
        <input
          type="text"
          formControlName="title"
          placeholder="Introduce a title"
        />
      </div>

      <span *ngIf="isValidField('title', 'required')" class="error"
        >This entry must be filled</span
      >

      <!-- Description -->

      <div>
        <label>Description:</label>
        <textarea
          formControlName="description"
          placeholder="Introduce a description..."
        >
        </textarea>
      </div>

      <span *ngIf="isValidField('description', 'required')" class="error"
        >This entry must be filled</span
      >

         <!-- Images -->

         <div>
          <label>Images:</label>
          <input
          type="text"
          formControlName="image"
          placeholder="Introduce an image link"
        />
        </div>

      <!-- tags -->

      <div class="formContainer_tagsContainer">
        <div class="formContainer_tagsContainer--form">
          <label>Tags:</label>
          <div class="formContainer_tagsContainer--form--container">
            <input
              type="text"
              [(ngModel)]="newTag"
              [ngModelOptions]="{ standalone: true }"
              placeholder="Introduce a tag"
            />
            <button type="button" (click)="addTag()">
              <i class="bx bx-add-to-queue"></i>Add tag
            </button>
          </div>

          <span *ngIf="errorEmpty" class="error"
            >You must write at least one tag to generate it</span
          >
          <span *ngIf="errorLength" class="error"
            >You cannot create more than 5 tags</span
          >
          <span *ngIf="error" class="error"
            >The tag "{{ repeatedTag }}" already exist</span
          >

          <div class="formContainer_tagsContainer--tagsList">
            <span *ngFor="let tag of tags">
              {{ tag }} <i (click)="deleteTag(tag)" class="bx bx-x"></i>
            </span>
          </div>
        </div>
      </div>

                  <!-- Buttons -->


      <div class="formContainer__buttonContainer">



        <button class="buttonSubmit" type="submit">
          <i class="bx bxs-edit-alt"></i>Create
        </button>
        <button class="buttonCancel" (click)="backToUserPage()" type="button">
          <i class="bx bx-x"></i>Cancel
        </button>



      </div>
    </form>


  </div>
</div>
