@if (comment && user) {
  <div class="cardContainer">
    <div class="cardContainer__card--header">
      <div>
        <img
        [src]="
          user.image
            ? user.image
            : 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQpd4mJRIUwqgE8D_Z2znANEbtiz4GhI4M8NQ&s'
        "
          alt="img"
          />        <h1>{{ user.name }}</h1>
        </div>
        <p>{{ comment.dateCreation | date }}</p>
      </div>
      <div class="cardContainer__card--comment">
        @if (!commentState) {
          <p>
            {{ comment.text }}
          </p>
          @if (commentModified) {
            <span
              class="cardContainer__card--comment--modified"
              >
              Comment modified by {{ user.name }}
            </span>
          }
        }
        @if (commentState) {
          <form [formGroup]="editForm" (ngSubmit)="onEdit()" autocomplete="off">
            <textarea placeholder="edit Comment" formControlName="comment">
            </textarea>
            @if (isValidField('comment', 'required')) {
              <span
                >You must write something to edit a comment</span
                >
            }
            <div><button type="submit"><i class='bx bx-edit-alt' ></i> Edit Comment</button></div>
          </form>
        }
      </div>
      <div class="cardContainer__card--options">
        <div class="cardContainer__card--options--spans">
          <span
            class="cardContainer__card--options--spans--button"
            (click)="editCommentById()"
            >Edit</span
            >
            <span>•</span>
            <span
              class="cardContainer__card--options--spans--button"
              (click)="deleteCommentById()"
              >Remove</span
              >
            </div>
            <i class="bx bx-check-circle"></i>
          </div>
        </div>
      }
