* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user-img {
  width: 50px;
  border-radius: 50%;
  border: 2px solid white;
  margin-left: 12px;
}

.user-img:hover {
  border: 4px solid white;
  cursor: pointer;
}

.main-content {
  background-color: var(--soft-blue);
  position: relative;
  min-height: 100vh;
  top: 0;
  left: 80px;
  transition: all 0.5s ease;
  width: calc(100% - 80px);
}

main {
  padding: 2rem;
}
